
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(/curve-contour-line-curves-vector-c5f6cc3a2baafe0a1838009a218c1c1e.png);
  background-size: 99%;
  
}

body {
  margin: 20;
  
  
}
